<section id="speakers" class="section align-center">
    <div class="container">
        {% if section.header %}
        <span class="icon section-icon icon-faces-users-04"></span>
        <h3>{{ section.title }}</h3>
        <p class="text-alt">Meet our <span class="highlight">Special Guests</span></p>
        {% endif %}
        <br />
        <br />
        {% if section.bios.size > 0 %}
        <div class="row text-center" style="display:flex; justify-content:center;">
            {% for speak in section.bios %}
            {% if section.header == 1 %}
            <div class="col-sm-4" style="">
                {% else %}
                <div class="col-sm-3 col-xs-6" style="">
                    {% endif %}
                    <div class="speaker">
                        <div class="photo-wrapper rounded"><img src="{{speak.image}}" alt="{{speak.name}}" class="img-responsive"></div>
                        <h3 class="name">{{speak.name}}</h3>
                        <p class="text-alt"><small>{{speak.title}}</small></p>
                        <p class="about">{{ speak.credentials }} </p>
                    </div>
                </div>
                {% if section.header == 1 and forloop.index == 3 %}
            </div>
            <div class="row text-center">
                {% elsif section.header == 0 and forloop.index == 4 %}
            </div>
            <div class="row text-center">
                {% endif%}
                {% endfor %}
            </div>
            {% else %}
            <p>Speakers to-be-announced</p>
            {% endif %}
</section>